header {
  background-color: rgb(71, 67, 67);
  opacity: 0.8;
  width: 100%;
  color: white;
  height: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.head-left {
  margin: 30px 0 15px 30px;
}

.head-left:hover {
  transition: 0.5s;
  color: red;
  background-color: blue;
  box-shadow: 0 7px black;
}
.head-left:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

.head1 {
  display: flex;
  width: 100%;
}

.head-right {
  display: flex;
  margin: 37px 0 0 200px;
}

.head-right a {
  margin-left: 40px;
  color: white;
  list-style: none;
  opacity: 0.5;
  text-decoration: none;
}

.head-link:hover {
  opacity: 1;
  transition: 0.5s;
  color: black;
  background-color: yellow;
  border-radius: 3px;
  box-shadow: 4px 7px tomato;
}

.head-link:active {
  position: relative;
  top: 7px;
  left: 7px;
  box-shadow: none;
}

.login {
  cursor: pointer;
  display: block;
  padding-left: 90px;
}

.head-right a:hover {
  opacity: 1;
  transition: 0.5s;
}

.signup-modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form,
#login-form {
  width: 100%;
}

#signup-form h2,
#login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input,
#login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
  box-shadow: 0 7px #35945b;
}

#submit-btn:hover {
  position: relative;
  top: -7px;
}

#submit-btn:active {
  box-shadow: none;
  top: 0;
}

.all-anpan {
  width: 100%;
  background-image: url("https://3.bp.blogspot.com/-_KO2FTneyDo/UWgWYVB5MKI/AAAAAAAAQBs/KhQ6IMqK2WU/s1600/food_anpan.png");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.1);
  background-blend-mode: lighten;
}

.middle p {
  font-size: 20px;
  padding: 0 30px;
}

.history-title {
  padding-top: 100px;
}

.anpan-title:hover h1 {
  color: rgb(117, 59, 18);
  opacity: 0.8;
  transition: 1s;
  border-radius: 4px;
  box-shadow: 0 7px black;
  position: relative;
  top: -5px;
}

.anpan-title:active h1 {
  box-shadow: none;
  position: relative;
  top: 7px;
  left: 4px;
}

.anpan-title {
  margin-left: 30px;
  padding-top: 40px;
  color: rgb(153, 182, 24);
  -webkit-text-stroke: 1px black;
}

.moon h2 {
  margin-left: 40px;
}

.river h2 {
  margin-left: 40px;
}

.moon,
.river {
  margin-left: 20px;
  margin-bottom: 20px;
}

.big-river {
  padding-bottom: 100px;
}

.moon:hover h2 {
  color: rgb(47, 154, 197);
  opacity: 0.8;
  transition: 1s;
  border-radius: 4px;
  box-shadow: 0 7px black;
}

.river:hover h2 {
  color: rgb(57, 51, 139);
  opacity: 0.8;
  transition: 1s;
  border-radius: 4px;
  box-shadow: 0 7px black;
}

.moon:active h2 {
  box-shadow: none;
  position: relative;
  top: 100px;
  left: 100px;
}

.river:active h2 {
  box-shadow: none;
  position: relative;
  top: 100px;
  left: 100px;
}

footer {
  background-color: rgba(71, 67, 67, 0.8);
  top: 0;
  left: 0;
  text-align: center;
  padding: 100px 0;
  width: 100%;
}

.footer-icon {
  margin-top: 30px;
  margin-bottom: 100px;
  border-radius: 50%;
  display: inline-block;
  width: 52px;
  height: 42px;
  font-size: 24px;
  padding-top: 10px;
  vertical-align: top;
}

.facebook {
  margin-left: 100px;
  color: white;
  background-color: rgb(19, 48, 179);
}

.twitter {
  color: white;
  background-color: rgb(83, 193, 236);
}

.top-btn {
  position: fixed;
  z-index: 10;
  top: 88%;
  left: 50%;

  font-size: 30px;
  color: white;
  background-color: rgb(66, 61, 61);
  border-radius: 10px;
  box-shadow: 0 7px black;
}

.top-btn:hover {
  cursor: pointer;
  opacity: 0.6;
  top: 87%;
}

@media (max-width: 1300px) {
  .head-right {
    margin: 34px 40px;
  }
  .head-right a {
    margin-left: 60px;
  }
  .login {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 1000px) {
  .head-right {
    margin: 34px 20px;
  }
  .head-right a {
    margin-left: 30px;
    font-size: 14px;
  }
  .login {
    margin: 0;
    padding: 0;
  }

  .all-anpan {
    background-size: auto;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
  }

  .anpan-title {
    color: lime;
    -webkit-text-stroke: 2px rgb(24, 53, 182);
  }

  .middle p {
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(100, 16, 16);
  }

  .middle h1 {
    font-size: 60px;
    text-align: center;
  }

  .moon h2 {
    font-size: 30px;
  }
  .river h2 {
    font-size: 30px;
  }
}

@media (max-width: 670px) {
  .head-right {
    display: none;
  }

  .all-anpan {
    background-size: auto;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
  }

  .anpan-title {
    color: magenta;
    -webkit-text-stroke: 2px rgb(182, 24, 24);
  }

  .middle p {
    font-size: 40px;
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(13, 122, 22);
  }

  .middle h1 {
    font-size: 60px;
    text-align: center;
  }

  .moon h2 {
    font-size: 30px;
  }
  .river h2 {
    font-size: 30px;
  }
}
